{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success">{{message}}</div>
{% endfor %}
  <div class="jumbotron">
    <h1 class="display-6">Anna's To-Do App</h1>
    <p class="lead">A satisfying list of things that need doing!</p>
  </div>
</form>
  <form action="{{url_for('add_item')}}" method="post">
    <div class="form-group">
      <label for="todo_title">Title</label>
      <input type="text" class="form-control" id="todo_title" name="title">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>{{name}} To-Do List</h2>
      <ul class="list-group mb-4">
        {% for Todo in Todos %}
        <li>{{Todo.id}} {{Todo.title}} {{Todo.status}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}